[Unit]
Description=NextStep email worker
After=network.target

[Service]
Type=oneshot
User=http
Group=http
ExecStart=/usr/bin/php /srv/http/NextStep/workers/email_worker.php
